# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
*.tsbuildinfo

# Vercel
.vercel

# Environment variables
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*.swn
.DS_Store

# OS
Thumbs.db
